title {
    text-align: center;
}

.error_box {
    width: auto;
    background-color: tomato;
    border: 2px solid black;
    padding: 5px;
    height: auto;
}
.form_box{
    margin: auto;
    width: 25%;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}
th,td {
    border: 1px solid black;
    padding: 25px;
}
pre {
    font-size: 12px;
}

/*side bar*/
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: px;
    color: #6e6e6e;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main{
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  header {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  footer {
    position: fixed;
    /*160px for sidebar and 10 for padding*/
    left: 170px;
    bottom: 0;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }