<%- include("header", {title: title}); %>
<%- include("side_bar.ejs", {login: login}); %>
<div class="main">
<h1>Welcome <%= name %></h1>

  <p>
    this is just an other test if side bar is working
  </p>
</div>

<%- include("footer"); %>