<%- include("header", {title: title}); %>
<%- include("side_bar.ejs", {login: login}); %>
<div class="main">

    <h1>Welcome to Meeting Scheduler</h1>
    <!-- 
        todo: add link to login or create an new account
    -->
</div>
<%- include("footer"); %>